{% extends 'base.html' %}

{% block content %}

<body>
<div class="row d-flex p-2 bd-highlight">
    <div class="col ">
        <h1>Food Tracker</h1>
        <form method="GET">
            <label for="product"></label>
            <input class="form-control-sm" type="text" name="product" id="product" placeholder="Type a product...">
            <input class="btn btn-primary" type="submit" value="Search"/>
        </form>
    </div>
    <div class="col">
        <p>Service uses data from FoodData Central that is an integrated, research-focused data system that provides
            expanded data on nutrients and other foods components.</p>
        <p>Values are calculated per 100g or 100ml per serving.</p>
    </div>
    <div class="col">
        <div class="btn-group-vertical float-right d-flex p-2 bd-highlight" role="group" aria-label="Basic example">
            <a class="btn btn-info" href="/pdf">Export your list in PDF</a>
            <button type="button" class="btn btn-danger" onclick="location.href='delete_all/'">Remove all products from
                your list
            </button>
        </div>
    </div>
</div>
<div class="row d-flex p-2 bd-highlight">
    <div class="col">
        {% if products %}
        <table class="table">
            <thead style="white-space:nowrap">
            <tr>
                <th>Product name</th>
                <th>Energy</th>
                <th>Protein, g</th>
                <th>Carbs, g</th>
                <th>Sugars, g</th>
                <th>Fiber, g</th>
                <th>Calcium, mg</th>
                <th>Iron, mg</th>
                <th>Sodium, mg</th>
                <th>Vitamin C, IU</th>
                <th>Vitamin D, IU</th>
                <th>Cholesterol, mg</th>
                <th>Sat Fats, g</th>
                <th>Trans Fats, g</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr align="right">
                <td><b>{{ product.product_name }}</b></td>
                <td>{{ product.energy }}</td>
                <td>{{ product.protein }}</td>
                <td>{{ product.carbs }}</td>
                <td>{{ product.sugars }}</td>
                <td>{{ product.fiber }}</td>
                <td>{{ product.calcium }}</td>
                <td>{{ product.iron }}</td>
                <td>{{ product.sodium }}</td>
                <td>{{ product.vitamin_c }}</td>
                <td>{{ product.vitamin_d }}</td>
                <td>{{ product.cholesterol }}</td>
                <td>{{ product.sat_fat }}</td>
                <td>{{ product.trans_fat }}</td>
                <td>
                    <form action="remove_data/" method="post" id="product_removal_Form">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <button type="submit" class="btn btn-danger" name="remove" value="{{ product.id }}"
                                form="product_removal_Form">Remove
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr align="right">
                    <th>Total values</th>
                    {% for value in total_values %}
                    <th>{{ value }}</th>
                    {% endfor %}
                </tr>
            </tfoot>
        </table>
        {% else %}
        <p></p>
        {% endif %}
    </div>
</div>
<div class="col">
    {% if response %}
    <table class="table">
        <thead style="white-space:nowrap">
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in response %}
        <tr align="right">
            {% for column in columns %}
            <td>{{ item[column] }}</td>
            {% endfor %}
            <td>
                <form action="get_data/" method="post" id="productForm">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <button type="submit" class="btn btn-success" name="add" value="{{ item }}" form="productForm">Add
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p></p>
    {% endif %}
</div>
</body>

{% endblock %}
