<head>
    <div>
        <h3>Food Tracker</h3>
    </div>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>Product name</th>
			<th>Energy</th>
            <th>Protein, g</th>
            <th>Carbs, g</th>
            <th>Sugars, g</th>
            <th>Fiber, g</th>
            <th>Calcium, mg</th>
            <th>Iron, mg</th>
            <th>Sodium, mg</th>
            <th>Vitamin C, IU</th>
            <th>Vitamin D, IU</th>
            <th>Cholesterol, mg</th>
            <th>Sat Fats, g</th>
            <th>Trans Fats, g</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
			<td>{{ product.energy }}</td>
            <td>{{ product.protein }}</td>
            <td>{{ product.carbs }}</td>
            <td>{{ product.sugars }}</td>
            <td>{{ product.fiber }}</td>
            <td>{{ product.calcium }}</td>
            <td>{{ product.iron }}</td>
            <td>{{ product.sodium }}</td>
            <td>{{ product.vitamin_c }}</td>
            <td>{{ product.vitamin_d }}</td>
            <td>{{ product.cholesterol }}</td>
            <td>{{ product.sat_fat }}</td>
            <td>{{ product.trans_fat }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
